@import url('https://fonts.googleapis.com/css?family=Amatic+SC');


body {
font-family: Amatic SC;
text-align: center;
font-size: 50px;
padding:0px;
margin:0px;
border:0px
}

#everything {
  height: 800px
}
 h1 {
  margin:0px;
  /*-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;*/
  padding-top: 0px;
  padding-bottom:0px;
  border-top: 0px
  border-bottom:0px
}

p {
  margin-top: 0px;
  margin-bottom: 1px;
  padding-top:0px;
  padding-bottom:0px;
  border-top: 0px;
  border-bottom: 0px;
}
